.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px 16px;
  max-width: 1184px;
  width: calc(100% - 96px);
  margin: 0 auto;
}

@media (max-width : 1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(225px, max-content));
    gap: 14px 14px;
  }
}

@media (max-width : 768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(264px, max-content));
    gap: 16px 16px;
    width: calc(100% - 48px);
  }
}

@media (max-width : 680px) {
  .photo-grid {
    width: calc(100% - 32px);
  }
}