.intro__text {
  line-height: 163%;
  max-width: 690px;
  margin: 0 0 33px;
}

@media (max-width : 768px) {
  .intro__text {
    max-width: 720px;
  }
}

@media (max-width : 580px) {
  .intro__text {
    max-width: 288px;
  }
}