.intro {
  max-width: 984px;
  width: calc(100% - 96px);
  margin: 0 auto;
}

@media (max-width : 768px) {
  .intro {
    width: calc(100% - 48px);
  }
}

@media (max-width : 680px) {
  .intro {
    width: calc(100% - 32px);
  }
}