.root__photo-grid {
  margin-bottom: 92px;
}

@media (max-width: 768px) {
  .root__photo-grid {
    margin-bottom: 88px;
  }
}

@media (max-width: 320px) {
  .root__photo-grid {
    margin-bottom: 64px;
  }
}