.place {
  display: grid;
  grid-template-columns: 440px 1fr;
  grid-template-rows: auto auto;
  gap: 48px 32px;
  margin-bottom: 80px;
}

.place:nth-last-child(1) {
  margin-bottom: 0;
}

@media (max-width : 850px) {
  .place {
    grid-template-columns: 390px 1fr;
  }
}

@media (max-width : 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    margin-bottom: 72px;
    gap: 48px 28px;
  }
}

@media (max-width : 680px) {
  .place {
    grid-template-columns: minmax(320px, 1fr);
    margin-bottom: 50px;
    row-gap: 32px;
  }
}