.footer {
  max-width: calc(100% - 96px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width : 768px) {
  .footer {
    max-width: calc(100% - 48px);
  }
}

@media (max-width : 580px) {
  .footer {
    width: 100%;
    flex-direction: column;
  }
}